body {
    display: flex;
    background-color: purple;
}

main {
    margin-left: 50px;
}

nav ul {
    width: 150px;
    list-style-type: none;
}

nav li {
    margin: 5px 0;
    padding: 5px;
    border-right: 1px solid aqua;
    border-top: 1px solid aqua;
    border-left: 10px solid aqua;
    border-bottom: 1px solid aqua;
}

nav a {
    text-decoration: none;
}

a:link {
    color: blue;
}

a:visited {
    color: red;
}

p {
    color: lime;
}

h1 {
    color: aqua;
}

h2 {
    color: orange;
}

.colored {
    color: yellow;
}